html, body {
    margin: 0 ;
    background-color: rgb(40, 46, 44);
    
}
.container{
    height: 100vh;
    display: flex;
}
.content {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100vw;   
}
.content-item{
    max-width: 200px;
    height: auto;
    margin: auto;
    border-radius: 50%;
    
}
.result{
    color: yellow;
    font-size: 1.3rem;
    text-align: center;
}
.buttonDrop{
    font-size: 1.2rem;
    appearance: none;
    margin: 0 auto;
    height: 2.5rem;
    background-color:orange;
    border: 1px solid yellow;
    box-shadow: 3px 3px 5px yellow;
    z-index: 999;
}
.buttonDrop:hover{
    cursor: pointer;
    background-color:rgb(255, 145, 0);
}
.statistics{ 
    display: flex;
    position: fixed;
    height: 80vh;
    width: 240px;
    right: -185px;
    height: 100%;
    color: tomato;  
}
.buttonStatisticShown{
    width: 50px;
    height: 50px;
    appearance: none;
    background-image:url('img/buttonStatistics.png') ;
    border: 1px solid yellow;
    border-radius: 50%;
    margin: auto 0;
}
.buttonStatisticShown:hover{
    cursor: pointer;
    border: 1px solid orange;
}
.statistics-items{
    margin: auto 10px;
}
    
.active{
    animation: bounce 1s;
}
@keyframes bounce {
	0%{
		transform: translateY(0);
    }
    10%{
		transform: translateY(-100%);
    }
    20%{
		transform: translateY(-200%);
    }
    30%{
		transform: translateY(-300%);
    }
    40%{
		transform: translateY(-400%);
    }
    50%{
		transform: translateY(-500%);
    }
    60%{
		transform: translateY(-600%);
    }
    70%{
		transform: translateY(-700%);
    }
    80%{
		transform: translateY(-800%);
    }
    90%{
		transform: translateY(-900%);
    }
    100%{
		transform: translateY(0%);
	}

}
@media (max-width:570px){
  .statistics-items{
    background-color:  rgb(40, 46, 44);
    border: 2px solid orange;
    padding: 5px;
  }
}
@media (max-height:365px){
  .content {
    height: 90%; 
}
}